extends ../../layout/default

block content
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") Użytkownik #{user.getName()} zaprasza Cię do serwisu ShopByBlog, na którym możesz wybrać się na zakupy z ulubionymi blogerami:
  br
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") 1. Subskrybuj ulubionych blogerów i obserwuj co polecają.
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") 2. Sprawdzaj gdzie i za ile można kupić polecane produkty.
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") 3. Kupuj polecane produkty w atrakcyjnych cenach.
