extends ../layout

block content
  .container
    .row
      .col-sm-12.container-shadow2
        //- .clearfix.container-fix.container-fb.p20(style='background:url(/img/patterns/suda.jpg) no-repeat 50% 50%;background-size:cover;')
        .clearfix.container-fix.container-fb2.p20
          .page-header.no-border.mt10
            h3.m0.align-center.mb15.lato Załóż profil na ShopByBlog
            h4.m0.align-center.lato Dołącz do nas, aby kupować rzeczy, które cię inspirują.
            .clearfix.align-center.mt20.mb10
              ul.list-unstyled.list-inline
                li
                  i.fa.fa-angle-right
                  | Obserwuj ulubione blogi
                li
                  i.fa.fa-angle-right
                  | Otrzymuj rekomendacje na wybrane produkty
                li
                  i.fa.fa-angle-right
                  | Odkrywaj nowe blogi i produkty
            .clearfix.align-center
              ul.list-unstyled.list-inline
                li
                  a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
                    i.fa.fa-facebook
                    | #{__('Sign up with Facebook')}
                li
                  a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
                    i.fa.fa-twitter
                    | #{__('Sign up with Twitter')}

          .clearfix
            form.form-horizontal.bg-clouds.p15(id='signup-form', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-3.control-label(for='email') &nbsp;
                .col-sm-7
                  p.static-form-control.mb0.imp lub, zarejestruj się podając swój adres e-mail
              .form-group
                label.col-sm-3.control-label(for='email') Email
                .col-sm-7
                  input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='off')
              .form-group
                label.col-sm-3.control-label(for='password') Hasło
                .col-sm-7
                  input.form-control(type='password', name='password', id='password', placeholder='Hasło', autocomplete='off')
              .form-group
                label.col-sm-3.control-label(for='confirmPassword') Powtórz hasło
                .col-sm-7
                  input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Powtórz hasło', autocomplete='off')
              .form-group.mb0
                .col-sm-offset-3.col-sm-7
                  button.btn.btn-danger.btn-lg(type='submit')
                    | Załóż profil
