extends ../layout

block content
  .container.container-fix
    .page-header.m0
      h3.day.m0
        | CLAIM YOUR SITE
    .row.mt20
      .col-sm-12
        .clearfix.p10.bg-clouds.mb20
          p.m0 Sorry. But adding products is available for verified users only.

