.clearfix.m0
  ul.list-unstyled.list-inline.m0
    li
      a.btn.btn-danger.btn-lg(href='/for-bloggers', style="min-width:231px;") Dodaj swojego bloga
        br
        small.small Oferta dla bloggerów
    li
      a.btn.btn-primary.btn-lg(href='/sell-products', style="min-width:231px;") Kup link sponsorowany
        br
        small.small Oferta dla reklamodawców
