.clearfix.m0
  ul.list-unstyled.list-inline.m0
    li
      a.btn.btn-danger.btn-lg(href='/for-bloggers') Dodaj swojego bloga
        br
        small.small Oferta dla bloggerów
    li
      a.btn.btn-primary.btn-lg(href='/sell-products') Kup link sponsorowany
        br
        small.small Oferta dla reklamodawców
