.col-sm-push-1.col-sm-10.align-center
  //- h1.mt0.mb10.lato.lato900 Obserwuj ulubione blogi i otrzymuj najlepsze oferty na polecane produkty.
  h1.mt0.mb10.lato.lato900 Wybierz się na zakupy z ulubionymi blogerami.
  p.m0.lato.lato400 Twoi ulubieni blogerzy i polecane przez nich produkty w jednym miejscu.
