.col-sm-12.align-center
  //- h1.mt0.mb10.lato.lato900 Obserwuj ulubione blogi i otrzymuj najlepsze oferty na polecane produkty.
  //- h1.mt0.mb10.lato.lato700(style='font-size:60px;line-height:60px;') Poleć swój produkt czytelnikom blogów
  h1.mt0.mb10.lato.lato700(style='font-size:60px;line-height:60px;') Zabieramy czytelników blogów na zakupy do Twojego sklepu
  //- h3.lato.lato400.mt20 Kup link sponsorowany na produkty polecane przez blogerów
  h3.lato.lato400.mt20 Dostarczamy informację o Twoich produktach na strony popularnych blogów
  //- h3.lato.lato400.mt20 Sieć affiliacyjna dostarczająca polecane produkty do czytelników blogów
