.col-sm-push-1.col-sm-10.align-center
  //- h1.mt0.mb10.lato.lato900 Obserwuj ulubione blogi i otrzymuj najlepsze oferty na polecane produkty.
  h1.mt0.mb10.lato.lato100(style='font-size:60px;line-height:60px;') Wybierz się na zakupy z ulubionymi blogerami
  h3.lato.lato400.mt20 Subskrybuj profil <a class="imp underline" href="/#{product.author.permalink}">#{product.author.getName()}</a> na ShopByBlog i otrzymuj informacje o polecanych produktach.
  //- h1.mt0.mb10.lato.lato900 Wybierz się na zakupy z ulubionymi blogerami
  //- p.m0.lato.lato400 Twoi ulubieni blogerzy i polecane przez nich produkty w jednym miejscu
