extends layout

block content
  include templates/products.grid.jade
  include templates/sections.grid.jade
  include templates/collections.grid.jade

  #empty.container.container-clean.pb0.mt100.hid
    .clearfix.mt0.mb15
      h4.m0.align-center Brak produktów

  .container.container-grid.mt0
    .clearfix.mt0
      #results-area

block js

  script.
    $(document).ready(function() {
      if($('#results-area')) {
        SBBProduct.getDeals({}, function(data) {
          var source = $("#grid-item-product-only").html();

          var template = Handlebars.compile(source);

          var context = {products: data.products};
          var html    = template(context);

          $('#results-area').html(html);
          if(!data.products.length) $('#empty').removeClass('hid');
          SBB.initResizeGrid();
        });
      }
    })
