.row.grid-sections
  #collections-area

  #collection-btn-more.col-sm-3.col-xs-6.mb15
    .grid-element
      a.bind(href='', onclick='observable.trigger("collectionsMore", {SBB_SECTION: window.SBB_SECTION})')
        .grid-image.clearfix(style='background:#f8f8f8 url(http://daily-movement.com/wp-content/uploads/2014/09/Agata-Jenczelewska-daily-sugar-2.jpg) no-repeat 50% 50%;background-size:cover')
          .grid-overfly(style='width:100%;position:relative;background:rgba(255, 255, 255, 0.4);height:100%;')
            .grid-overfly-txt(style='position:absolute;left:0;text-align:center;width:100%;')
              h1.m0.p10.grid-txt More...
