.row.grid-products
  .col-sm-4
    .grid-element(style='position:relative;')
      a(href='/p')
        .grid-image.clearfix(style='background:#f8f8f8 url(http://deafpigeon.co.uk/wp-content/uploads/2014/09/nomos-metro-1.jpg) no-repeat 50% 50%;background-size:cover')
      .grid-avatar(style='position:absolute;top:10px;right:10px;')
        a(href='/u')
          img.img-circle(src='https://pbs.twimg.com/profile_images/511544102672797696/0rEOLipG_normal.jpeg', width='30')
      .grid-body.clearfix
        table(width='100%', style='margin-top:10px;margin-bottom:20px;')
          tr
            td.td-counter(valign='top')
              .grid-counter(style='width:40px;background:#d5d5d5;height:50px;border-radius:3px;text-align:center;')
                span.ion-arrow-up-b(style='font-size:26px;margin:0;line-height:24px;')
                .clearfix
                  h5(style='padding:0;margin:0;') 128
            td.td-title(valign='top')
              p.ellipsis(style='margin:0;height:20px')
                a(href='/p', style='font-size:14px') H&M Menswear Capsule Coant Amerian Appeal Jamaica Venture
              .clearfix
                a.color-gray(href='/s') For Her
            td.td-comments(valign='top', nowrap)
              a(href='')
                i.fa.fa-comments.notimp
                span.number.notimp 122

  .col-sm-4
    .grid-element
      .grid-image.clearfix(style='background:#f8f8f8 url(http://media-cache-cd0.pinimg.com/736x/53/76/b5/5376b5a13e11eee31976babd9b38b7c0.jpg) no-repeat 50% 50%;background-size:cover')
      .grid-body.clearfix
        table(width='100%', style='margin-top:10px;margin-bottom:20px;')
          tr
            td.td-counter(valign='top')
              .grid-counter(style='width:40px;background:#d5d5d5;height:50px;border-radius:3px;text-align:center;')
                span.ion-arrow-up-b(style='font-size:26px;margin:0;line-height:24px;')
                .clearfix
                  h5(style='padding:0;margin:0;') 128
            td.td-title(valign='top')
              p.ellipsis(style='margin:0;height:20px')
                a(href='', style='font-size:14px') H&M Menswear Capsule Coant Amerian Appeal Jamaica Venture
              .clearfix
                a.color-gray(href='') Home & Design
            td.td-comments(valign='top', nowrap)
              a(href='')
                i.fa.fa-comments
                span.number 122
  .col-sm-4
    .grid-element
      .grid-image.clearfix(style='background:#f8f8f8 url(http://deafpigeon.co.uk/wp-content/uploads/2014/06/modernica-hundreds.jpg) no-repeat 50% 50%;background-size:cover')
      .grid-body.clearfix
        table(width='100%', style='margin-top:10px;margin-bottom:20px;')
          tr
            td.td-counter(valign='top')
              .grid-counter(style='width:40px;background:#d5d5d5;height:50px;border-radius:3px;text-align:center;')
                span.ion-arrow-up-b(style='font-size:26px;margin:0;line-height:24px;')
                .clearfix
                  h5(style='padding:0;margin:0;') 128
            td.td-title(valign='top')
              p.ellipsis(style='margin:0;height:20px')
                a(href='', style='font-size:14px', data-toggle="tooltip", title='Special offer')
                  i.fa.fa-star.color-gold
                  | H&M Menswear Capsule Coant Amerian Appeal Jamaica Venture
            td.td-comments(valign='top', nowrap)
              a(href='')
                i.fa.fa-comments
                span.number 122

  .col-sm-4
    .grid-element
      .grid-image.clearfix(style='background:#f8f8f8 url(http://daily-movement.com/wp-content/uploads/2014/09/Agata-Jenczelewska-daily-sugar-2.jpg) no-repeat 50% 50%;background-size:cover')
      .grid-body.clearfix
        table(width='100%', style='margin-top:10px;margin-bottom:20px;')
          tr
            td.td-counter(valign='top')
              .grid-counter(style='width:40px;background:#d5d5d5;height:50px;border-radius:3px;text-align:center;')
                span.ion-arrow-up-b(style='font-size:26px;margin:0;line-height:24px;')
                .clearfix
                  h5(style='padding:0;margin:0;') 128
            td.td-title(valign='top')
              p.ellipsis(style='margin:0;height:20px')
                a(href='', style='font-size:14px') H&M Menswear Capsule Coant Amerian Appeal Jamaica Venture
            td.td-comments(valign='top', nowrap)
              a(href='')
                i.fa.fa-comments
                span.number 122
  .col-sm-4
    .grid-element
      .grid-image.clearfix(style='background:#f8f8f8 url(http://edgecdn.shinola.com/shop/media/wysiwyg/oscardelarenta/blue-watch-307x307.jpg) no-repeat 50% 50%;background-size:cover')

      .grid-body.clearfix
        table(width='100%', style='margin-top:10px;margin-bottom:20px;')
          tr
            td.td-counter(valign='top')
              .grid-counter.active(style='width:40px;background:#d5d5d5;height:50px;border-radius:3px;text-align:center;')
                span.ion-arrow-up-b.color-red(style='font-size:26px;margin:0;line-height:24px;')
                .clearfix
                  h5.color-red(style='padding:0;margin:0;') 128
            td.td-title(valign='top')
              p.ellipsis(style='margin:0;height:20px')
                a(href='', style='font-size:14px') H&M Menswear Capsule Coant Amerian Appeal Jamaica Venture
            td.td-comments(valign='top', nowrap)
              a(href='')
                i.fa.fa-comments
                span.number 122

  .col-sm-4
    .grid-element
      .grid-image.clearfix(style='background:#f8f8f8 url(http://media.happysocks.com/media/catalog/product/cache/8/image/1024x600/5f627f3162e33ffa92ef3c6e2bd23f47/m/u/muwjb-pol-045.png) no-repeat 50% 50%;background-size:cover')

      .grid-body.clearfix
        table(width='100%', style='margin-top:10px;margin-bottom:20px;')
          tr
            td.td-counter(valign='top')
              .grid-counter(style='width:40px;background:#d5d5d5;height:50px;border-radius:3px;text-align:center;')
                span.ion-arrow-up-b(style='font-size:26px;margin:0;line-height:24px;')
                .clearfix
                  h5(style='padding:0;margin:0;') 128
            td.td-title(valign='top')
              p.ellipsis(style='margin:0;height:20px')
                a(href='', style='font-size:14px') Happy Socks - Polka Boxer Brief
            td.td-comments(valign='top', nowrap)
              a(href='')
                i.fa.fa-comments
                span.number 122

  .col-sm-4
    .grid-element
      .grid-image.clearfix(style='background:#f8f8f8 url(http://www.buttero.it/upload/articoli_varianti_foto/dettaglio/STIVALETTO-STRINGATO-IN-PELLE-MARRONE-BUTTERO_7727_3_dettaglio.jpg.pagespeed.ce.r9ZD-dHnSG.jpg) no-repeat 50% 50%;background-size:cover')

      .grid-body.clearfix
        table(width='100%', style='margin-top:10px;margin-bottom:20px;')
          tr
            td.td-counter(valign='top')
              .grid-counter(style='width:40px;background:#d5d5d5;height:50px;border-radius:3px;text-align:center;')
                span.ion-arrow-up-b(style='font-size:26px;margin:0;line-height:24px;')
                .clearfix
                  h5(style='padding:0;margin:0;') 128
            td.td-title(valign='top')
              p.ellipsis(style='margin:0;height:20px')
                a(href='', style='font-size:14px') Happy Socks - Polka Boxer Brief
            td.td-comments(valign='top', nowrap)
              a(href='')
                i.fa.fa-comments
                span.number 122
  .col-sm-4
    .grid-element
      .grid-image.clearfix(style='background:#f8f8f8 url(./uploads/center_final.jpg) no-repeat 50% 50%;background-size:cover')

      .grid-body.clearfix
        table(width='100%', style='margin-top:10px;margin-bottom:20px;')
          tr
            td.td-counter(valign='top')
              .grid-counter(style='width:40px;background:#d5d5d5;height:50px;border-radius:3px;text-align:center;')
                span.ion-arrow-up-b(style='font-size:26px;margin:0;line-height:24px;')
                .clearfix
                  h5(style='padding:0;margin:0;') 128
            td.td-title(valign='top')
              p.ellipsis(style='margin:0;height:20px')
                a(href='', style='font-size:14px') Happy Socks - Polka Boxer Brief
            td.td-comments(valign='top', nowrap)
              a(href='')
                i.fa.fa-comments
                span.number 122
