.row.grid-sections
  .col-sm-4.mb20
    a(href='/s')
      .table-div
        .table-row
          .table-cell.pull-left.avatar-midd
            img.img-responsive.img-circle(src='https://blovcdn.com/users/91059.jpg?ver=1394200747', width='50')
          .table-cell.pr10.pull-left.overflow.w50.pt10
            h5.m0.ellipsis-txt Karolina Merceres Herrera Out
            .clearfix.notimp @karolinamh
          .table-cell.prt.pt8
            a.btn.btn-default(href='') Follow
  .col-sm-4.mb20
    a(href='/s')
      .table-div
        .table-row
          .table-cell.pull-left.avatar-midd
            img.img-responsive.img-circle(src='https://pbs.twimg.com/profile_images/511544102672797696/0rEOLipG_normal.jpeg', width='50')
          .table-cell.pr10.pull-left.overflow.w50.pt10
            h5.m0.ellipsis-txt Karolina Merceres Herrera Out
            .clearfix.notimp @karolinamh
          .table-cell.prt.pt8
            a.btn.btn-default(href='') Follow
  .col-sm-4.mb20
    a(href='/s')
      .table-div
        .table-row
          .table-cell.pull-left.avatar-midd
            img.img-responsive.img-circle(src='http://storage.googleapis.com/site-assets/n2AVTP7fNugY5B4y5BN9tk_UlIVe48DSept9qXpGYUs_visual', width='50')
          .table-cell.pr10.pull-left.overflow.w50.pt10
            h5.m0.ellipsis-txt Karolina Merceres Herrera Out
            .clearfix.notimp @karolinamh
          .table-cell.prt.pt8
            a.btn.btn-default(href='') Follow
  .col-sm-4.mb20
    a(href='/s')
      .table-div
        .table-row
          .table-cell.pull-left.avatar-midd
            img.img-responsive.img-circle(src='http://storage.googleapis.com/site-assets/fPHrLvxJiPOLKeq3jI9QkNaK_5Gc0fQ5eJFWFkKREqk_visual', width='50')
          .table-cell.pr10.pull-left.overflow.w50.pt10
            h5.m0.ellipsis-txt Karolina Merceres Herrera Out
            .clearfix.notimp @karolinamh
          .table-cell.prt.pt8
            a.btn.btn-default(href='') Follow
  .col-sm-4.mb20
    a(href='/s')
      .table-div
        .table-row
          .table-cell.pull-left.avatar-midd
            img.img-responsive.img-circle(src='http://storage.googleapis.com/site-assets/13dQxBpYv_S22vUFxsifPradWazBipczZK9qEpwYtNc_visual', width='50')
          .table-cell.pr10.pull-left.overflow.w50.pt10
            h5.m0.ellipsis-txt Karolina Merceres Herrera Out
            .clearfix.notimp @karolinamh
          .table-cell.prt.pt8
            a.btn.btn-default(href='') Follow
  .col-sm-4.mb20
    a(href='/s')
      .table-div
        .table-row
          .table-cell.pull-left.avatar-midd
            img.img-responsive.img-circle(src='http://storage.googleapis.com/site-assets/k-CSD4UO15JsfufkBOM1Qjsm9Y02T4X3nOl5Ufoyvck_svisual-1488c130d09', width='50')
          .table-cell.pr10.pull-left.overflow.w50.pt10
            h5.m0.ellipsis-txt Karolina Merceres Herrera Out
            .clearfix.notimp @karolinamh
          .table-cell.prt.pt8
            a.btn.btn-default(href='') Follow
