.row.grid-sections
  #sections-area

  .col-sm-3.col-xs-6.mb15
    .grid-element
      a(href='/deals')
        .grid-image.clearfix(style='background:#f8f8f8 url(/img/tumblr_ng2nv8yHyk1qzvy4do1_1280.png) no-repeat 50% 50%;background-size:cover;')
          //- .grid-overfly(style='width:100%;position:relative;background:rgba(255, 255, 255, 0.8);height:100%;')
            .grid-overfly-txt(style='position:absolute;left:0;text-align:center;width:100%;')
              h1.m0.p10 #{__('Weekly Deals')}
