doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='HandheldFriendly', content='true')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    title #{title} | ShopByBlog - Curated products inspired by blogs

    script(src='/js/components/platform/platform.js')
    link(rel='import', href='/js/components/core-icon-button/core-icon-button.html')
    link(rel='import', href='/js/components/sbb-vote/sbb-vote.html')

    link(href='/css/lib/pickdate/default.css', rel='stylesheet')
    link(href='/css/lib/pickdate/default.date.css', rel='stylesheet')
    link(href='/css/lib/pickdate/default.time.css', rel='stylesheet')

    link(href='/css/lib/sweet-alert/sweet-alert.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,400,700,900', rel='stylesheet')

    != css('styles')
    style.
      .ng-hide {display: none!important;}
  body(style='padding-top:50px;')
    include partials/navbar.dashboard.jade

    .container-wide.p15
      include partials/flash
      block content

    != js('application')

    block js
