doctype html
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    include partials/head

    block jshead
  body(class=bg?'with-static-bg':'')
    if !hideNav
      include partials/navbar

    #close-discussion-panel.close-discussion-body.close-discussion.hid(onclick='$("#close-discussion-panel").addClass("hid");$("#sidebar-offcanvas").stop().animate({right: -$("#sidebar-offcanvas").width()});')
    #sidebar-offcanvas.hid(style='background:white;position:fixed;right:0;top:0px;height:100%;z-index:9999;border-left: 1px solid rgba(0,0,0,0.1);box-shadow: 0 0 20px rgba(0,0,0,0.25);overflow-y:scroll')
      .clearfix.p20
        .page-header.mt0
          h3.m0 NOTIFICATIONS
        .clearfix
          table.m0.table-notifications(width='100%')
            tr
              td(width='50', align='top')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                .clearfix
                  ul.list-unstyled.list-inline.m0.list-on-left.pull-left.list-text
                    li
                      a.imp(href='') afrank
                    li
                      span posted
                    li
                      a.imp(href='') Nike Zoom Shoes
                    li
                      span in
                    li
                      a.imp(href='') For Him
                    li
                      a.notimp.small(href='') 2 days ago
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Kitchen Aid
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200
            tr
              td(width='50')
                a.pull-left(href='')
                  img.img-circle(src='http://pbs.twimg.com/profile_images/495581209846874113/_iZlPtQW_normal.jpeg', width='35')
              td
                p.m0
                  a.imp(href='') afrank
                  | &nbsp;
                  span posted
                  | &nbsp;
                  a.imp(href='') Snowboard desk Vibrant achive X200

    if (user && showSearchBox)
      form(action='/search', method='get')
        .container-wide.mb0.mt0.p20(style='background:white')
          .container
            .row
              .col-sm-12
                input.form-control.input-lg.p0.lato100(style='border:0;box-shadow:none;font-size:50px;letter-spacing:-1px;line-height:normal;height:60px;', autocomplete='off', type='text', placeholder='Search for people or products...', name='q', value='#{q||""}', autofocus=true)
            //- .row
              .col-sm-10.col-sm-push-1
                .clearfix
                  a.imp(href='') SEARCH
                .clearfix
                  .row
                    .col-sm-10
                      input.form-control(type='text', placeholder='Search for products...', name='q', value='#{q||""}')
                    .col-sm-2
                      button.btn.btn-default.btn-block(type='submit')
                        i.fa.fa-search
                .clearfix.mt5
                  span.notimp Popular searches: <a class="notimp" href="">Candles</a>, <a class="notimp" href="">Nike</a>

    .container
      include partials/flash

    if !user&&!hideSubscriptionBox
        include subscribe

    block content

    if !hideFooter
      include partials/footer

    != js('application')

    if currentLang=='pl'
        script(src='/js/lib/locale/pl.js')


    block js
