.container.pb0.hidden-xs
  .clearfix.container-fix.container-fb.p20
    .row
      .col-sm-12
        .clearfix.align-center
          .row.mb20
            include partials/home.headline.jade
          .row
            .col-sm-12
              include partials/signup.inline.jade
              include partials/signup.helpnav.jade
