extends ../layout

block content
  .container
    .page-header.mt20
      h3.day
        i.fa.fa-bar-chart-o
        | ANALYTICS
        //- small Check which products are trending on your blog
    .row
      .col-sm-12
        .clearfix.p10.bg-clouds.mb20
          p.m0 This is <u>preview</u> only. Please consider some errors may occur.

    //- .row
      .col-sm-12
        img(src='https://photos-1.dropbox.com/t/1/AACuhpldnLGqVeqytxqUrOt5_Fq5TNELua_9CuKR9ZKmqQ/12/60616713/png/1024x768/3/1413208800/0/2/Screenshot%202014-10-13%2014.56.57.png/aTiJuzz4EX0PlW88ubQTfIOLGvdD4mou3VOsXnGpRpA', width='100%')

    .row
      .col-sm-12
        .clearfix
          p No data has been found.