extends ../layout.dark.jade

block content
  .container-wide.mt50
    .col-sm-12.align-center.mt50
      .clearfix.p20
        h4.m0.color-white.lato100 We're redirecting you to the store. Please wait...
        br
        img(src='/svg-loaders/tail-spin.svg')
