.container.container-clean.pb0.mt0
  .row
    .col-sm-12
      .alert.alert-success.fade.in.m0
        div Your blog is wating for approval. If you have any questions, please write us on hello@shopbyblog.com.
