.container.container-clean.pb0(style='position:relative;')
  .row.mb20
    .col-sm-push-1.col-sm-10.align-center
      h1.mt0.mb10.lato.lato900 Start earning money today
  .row.mb15
    .col-sm-12.align-center
      a.btn.btn-danger.btn-lg(href='/claim') Add my blog
