extends ../layout

block content
  if (user&&!user.isVerified&&user.isPending)
    include for-bloggers-approval

  .container.container-clean.pb0.mb20(style='position:relative;')
    //- div(style='position:absolute;left:-25px;top:-10px;')
      img(src='./img/phlogo.png', width='100')
    .row
      .col-sm-push-1.col-sm-10.align-center
        h1.mt0.mb10.lato.lato900 Recommend products to your readers and let them find & buy easily
        p.m0.lato.lato400 Join the #1 bloggers network and start deliver the best products recommendations

  .container
    .clearfix.container-fix.p20
      .row.pb20
        .col-sm-4.align-center
          .clearfix
            i.fa.fa-thumbs-up.fa-4x.notimp
          h2.mb10 Recommend
          p.m0 Build your profile and <u class="lato700">deliver daily products recommendations</u> to your readers. It's easy & free.
        .col-sm-4.align-center
          .clearfix
            i.fa.fa-comments.fa-4x.notimp
          h2.mb10 Engage
          p.m0 Increase engagement in your blog, <u class="lato700">give your user one place to find & buy</u> the best products.
        .col-sm-4.align-center
          .clearfix
            i.fa.fa-money.fa-4x.notimp
          h2.mb10 Earn
          p.m0 You recommend products and we deliver sponsored links to each of them. <u class="lato700">You earn 70% on every campaign</u>.

  if (!user)
    include for-bloggers-signup
  else if (user&&!user.isVerified&&!user.isPending)
    include for-bloggers-new
  else if (user&&!user.isVerified&&user.isPending)
    //- include for-bloggers-approval
  else
    include for-bloggers-ready

  .container.pb0.mb20
    .clearfix.container-fix.p20
      .row.mb10
        .col-sm-12
          small.imp FEATURED BLOGGERS
      .row
        .col-sm-12
          include ../grid.blogs.jade


  .container.container-clean.pb0.mb20(style='position:relative;')
    .row.mb20
      .col-sm-push-1.col-sm-10.align-center
        h1.mt0.mb10.lato.lato900 How it works
        p.m0.lato.lato400 In a few simple steps you will be able to start earning money

  .container
    .clearfix.container-fix.p20
      .row
        .col-sm-1.align-right
          i.fa.fa-angle-double-right.fa-4x.notimp
        .col-sm-5
          h5 Create your profile
          p.m0 Register today and start delivering products recommendation to your readers.
        .col-sm-1.align-right
          i.fa.fa-angle-double-right.fa-4x.notimp
        .col-sm-5
          h5 Claim your blog
          p.m0 We need only few minutes to confirm your profile as a verified blogger.
      .row
        .col-sm-1.align-right
          i.fa.fa-angle-double-right.fa-4x.notimp
        .col-sm-5
          h5 Add recommended products
          p.m0 Update your profile with daily recommendations. This way you increase chance to have more active campaign.
        .col-sm-1.align-right
          i.fa.fa-angle-double-right.fa-4x.notimp
        .col-sm-5
          h5 Put our widget on your blog
          p.m0 Widget is a way to promote recommended products on your blog. It's very easy to generate and put on blog.
          //- p.small
            a.notimp.underline(href='')
              i.fa.fa-external-link
              span Check our widget example
      .row
        .col-sm-1.align-right
          i.fa.fa-angle-double-right.fa-4x.notimp
        .col-sm-5
          h5 Earn money
          p.m0 You will get 70% from every campaign. More recommended products deliver more campaigns.

  //- .container.container-clean.pb0.mb20(style='position:relative;')
  //-   .row.mb20
  //-     .col-sm-push-1.col-sm-10.align-center
  //-       h1.mt0.mb10.lato.lato900 Widget Examples
  //-       p.m0.lato.lato400 Check below our examples of widgets, for him, her and home &design. 100% responsive, clean & customized.

  //- .container
  //-   .clearfix.container-fix.p20
  //-     .row
  //-       .col-sm-4.align-center
  //-         h3.mt0.mb0 For Him
  //-         small.notimp Preview only
  //-       .col-sm-4.align-center
  //-         h3.mt0.mb0 For Her
  //-         small.notimp Preview only
  //-       .col-sm-4.align-center
  //-         h3.mt0.mb0 Home & Design
  //-         small.notimp Preview only

  //- .container
  //-   .clearfix.container-fix.p20
  //-     .row
  //-       .col-sm-4
  //-         <script src="/js/widget/sbbwidget.js"></script>
  //-         <iframe src="/js/widget/bootstrap.html?wid=XX1125" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
  //-       .col-sm-4
  //-         <script src="/js/widget/sbbwidget.js"></script>
  //-         <iframe src="/js/widget/bootstrap.html?wid=XX1125" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
  //-       .col-sm-4
  //-         <script src="/js/widget/sbbwidget.js"></script>
          <iframe src="/js/widget/bootstrap.html?wid=XX1125" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>

  if (!user)
    include for-bloggers-signup
  else if (user&&!user.isVerified&&!user.isPending)
    include for-bloggers-new
  else if (user&&!user.isVerified&&user.isPending)
    //- include for-bloggers-approval
  else
    include for-bloggers-ready

  .container.container-clean.pb0
    .row.mb20
      .col-sm-push-1.col-sm-10.align-center
        h1.mt0.mb10.lato.lato900 Why?
        p.m0.lato.lato400 In a few simple steps you will be able to start earning money

  .container
    .clearfix.container-fix.p20
      .row
        .col-sm-12
          ul.m0
            li
              h5 There is only one invoice
              p.m0 Many ad networks deliver random content, often not incontext to your blog.
            li
              h5 We pay for your recommendations, not for clicks or views
              p.m0 Many ad networks deliver random content, often not incontext to your blog.
            li
              h5 Recommend products that suits your blog
              p.m0 Many ad networks deliver random content, often not incontext to your blog.
            li
              h5 Give fast answer to questions like "Where can I buy this product?"
              p.m0 Your readers often ask you where to buy products you write in your posts? Out widget is very handy place to deliver this answer.
            li
              h5 Engage your users around products and learn more about them
              p.m0 We deliver great insights about products you recommend. Now you will learn more witch products are the most popular.
            li
              h5 Don't loose your time
              p.m0 We take care on looking for new adverstisers, who will add sponsored links to each of your recommendations.

  if (!user)
    include for-bloggers-signup
  else if (user&&!user.isVerified&&!user.isPending)
    include for-bloggers-new
  else if (user&&!user.isVerified&&user.isPending)
    //- include for-bloggers-approval
  else
    include for-bloggers-ready


  .container

    section.mt50
      h3.m0 FAQ
      hr

      h4 I'm blogger. How ShopByBlog works for me?
      p Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps, websites, hardware projects, and tech creations.

      p You can read more about our story on <a href="http://pando.com/2013/12/04/can-the-democratic-power-of-a-platform-like-hacker-news-be-applied-to-products/" target="_blank">PandoDaily</a>, <a href="http://www.fastcolabs.com/3023152/open-company/the-wisdom-of-the-20-minute-startup" target="_blank">Fast Company</a>, <a href="http://techcrunch.com/2014/06/04/product-hunt-is-the-social-news-site-of-tech-products-read-by-influential-people/" target="_blank">TechCrunch</a>, <a href="http://thenextweb.com/insider/2014/06/05/product-hunt-is-leveling-the-playing-field-to-help-good-apps-and-startups-get-attention/" target="_blank">The Next Web</a>, <a href="http://www.businessinsider.com/product-hunt-2014-6" target="_blank">Business Insider</a>, <a href="http://www.foxbusiness.com/on-air/risk-and-reward/index.html#/v/3639940132001" target="_blank">Fox Business</a>, and <a href="http://www.forbes.com/sites/sethporges/2014/07/03/the-creator-of-product-hunt-spills-the-hit-sites-dirty-details" target="_blank">Forbes</a>.</p>

    section
      h4 How much I can earn?
      p You get 60% and we 40% of each deals we'll setup.

      ul
        li URL - Direct link to the product page (avoid links to press or blogs)
        li Product Name
        li Tagline - Very short description of the product (make it catchy!)

  .container.container-clean.pb0.mb20(style='position:relative;')
    .row.mb20
      .col-sm-push-1.col-sm-10.align-center
        h1.mt0.mb10.lato.lato900 Have a question? Write us!

    .row.mb15
      .col-sm-12.align-center
        a.btn.btn-primary.btn-lg(href='/signup') info@shopbyblog.com

    //- section.mt20
      .align-center
        a.btn.btn-danger.btn-lg(href='/signup') Add my blog
