extends ../layout

block content

  .container.container-clean.pb0.mb20
    .row
      .col-sm-12.align-center
        h4.m0 Regulamin wydawcy
    .row
      .col-sm-12
        .content.first
          h4 Art. 1. DEFINICJE
          p U&zdot;yte w niniejszym Regulaminie terminy oznaczaj&aogon;:
          p
            strong AdTaily:
            br
            | &ldquo;AdTaily&rdquo; Sp&oacute;&lstrok;ka z ograniczon&aogon; odpowiedzialno&sacute;ci&aogon; z siedzib&aogon; w Krakowie, ul. Starowi&sacute;lna 55/7; wpisana do rejestru przedsi&eogon;biorc&oacute;w prowadzonego przez S&aogon;d Rejonowy dla Miasta Krakowa, XI Wydzia&lstrok; Gospodarczy Krajowego Rejestru S&aogon;dowego pod nr 0000324436; z kapita&lstrok;em zak&lstrok;adowym w wysoko&sacute;ci 42 000 PLN (czterdzie&sacute;ci dwa tysi&aogon;ce z&lstrok;otych) posiadaj&aogon;ca numer identyfikacji podatkowej NIP: 679 299 6939, email: kontakt@adtaily.pl
          p
            strong Regulamin:
            br
            | niniejszy regulamin
          p
            strong Serwis:
            br
            | strona internetowa AdTaily prowadzony przez AdTaily pod aktualnym adresem URL: http://www.adtaily.pl oraz ka&zdot;dym innym b&eogon;d&aogon;cym uzupe&lstrok;nieniem lub kontynuacj&aogon; tego URL, a tak&zdot;e ka&zdot;dym, kt&oacute;ry go zast&aogon;pi;
          p
            strong Klient:
            br
            | u&zdot;ytkownik publicznej sieci internet dokonuj&aogon;cy zakupu reklamy przez serwis AdTaily.
          p
            strong Wydawca:
            br
            | u&zdot;ytkownik publicznej sieci internet posiadaj&aogon;cy konto typu wydawca w Serwisie.
          p
            strong Serwis Wydawcy:
            br
            | serwis internetowy zarz&aogon;dzany i administrowany przez Wydawc&eogon;, Serwisem wydawcy nie jest platforma technologiczna, na kt&oacute;rej jest on utrzymywany.
          p
            strong URL:
            br
            | adres strony internetowej &ndash; uniwersalny lokalizator zasob&oacute;w (Uniform Resource Locator).
          p
            strong Reklama:
            br
            | ka&zdot;dy fragment strony www z zakodowanym adresem URL i obrazkiem, kt&oacute;ry po klikni&eogon;ciu umo&zdot;liwia u&zdot;ytkownikowi bezpo&sacute;rednie przej&sacute;cie na drug&aogon; stron&eogon; bez podawania adresu tej strony.
          p
            strong Aplikacja:
            br
            | oprogramowanie, do kt&oacute;rego prawa maj&aogon;tkowe przys&lstrok;uguj&aogon; AdTaily, s&lstrok;u&zdot;&aogon;ce do emisji Reklam w Serwisie Wydawcy.
          p
            strong Kampania Reklamowa:
            br
            | us&lstrok;uga publikacji Reklam w wybranym przez Klienta okresie, na zasadach bli&zdot;ej okre&sacute;lonych w art. 6 Regulaminu.
          p
            strong Bramka p&lstrok;atno&sacute;ci:
            br
            | zewn&eogon;trzny serwis internetowy &sacute;wiadcz&aogon;cy us&lstrok;ugi p&lstrok;atno&sacute;ci online, taki jak PayPal, DotPay lub inny.
          h4 Art. 2. WARUNKI KORZYSTANIA Z US&Lstrok;UG
          ol
            li
              | Klientami korzystaj&aogon;cymi z Us&lstrok;ugi mog&aogon; by&cacute; wy&lstrok;&aogon;cznie posiadaj&aogon;ce pe&lstrok;n&aogon; zdolno&sacute;&cacute; do czynno&sacute;ci prawnych pe&lstrok;noletnie osoby fizyczne, osoby prawne lub jednostki organizacyjne nieposiadaj&aogon;ce osobowo&sacute;ci prawnej, kt&oacute;re prowadz&aogon; dzia&lstrok;alno&sacute;&cacute; gospodarcz&aogon;.
            li Us&lstrok;uga realizowana jest odp&lstrok;atnie na warunkach opisanych w Regulaminie.
            li
              | Poza warunkami wskazanymi powy&zdot;ej warunkiem koniecznym dla skorzystania z Us&lstrok;ugi jest dost&eogon;p Klienta do sieci Internet oraz przegl&aogon;darki internetowej typu: Internet Explorer, Google Chrome, Mozilla Firefox, Opera.
            li Adtaily ma obowi&aogon;zek prawid&lstrok;owo wykonywa&cacute; Us&lstrok;ugi, o kt&oacute;rych mowa w Regulaminie.
          h4 Art. 3. US&Lstrok;UGA &bdquo;DNI&Oacute;WKA&rdquo;
          ol
            li
              | Korzystaj&aogon;c z Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo; Klient uzyskuje mo&zdot;liwo&sacute;&cacute; publikacji Reklam na wybranych stronach internetowych Wydawc&oacute;w.
            li
              | Aby z&lstrok;o&zdot;y&cacute; zam&oacute;wienie Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo; Klient podejmuje kolejne czynno&sacute;ci techniczne w oparciu o komunikaty i instrukcje wy&sacute;wietlane w Serwisie.
            li
              | AdTaily umo&zdot;liwia 3 (s&lstrok;ownie: trzy) modele zamawiania Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo;:
              ul
                li
                  | Za po&sacute;rednictwem Serwisu Wydawcy:
                  ul
                    li
                      | Klient za po&sacute;rednictwem Aplikacji zamieszczonej na Serwisie Wydawcy wype&lstrok;nia Formularz Zam&oacute;wienia poprzez podanie wymaganych danych Klienta wraz z informacjami na temat us&lstrok;ugi lub dzia&lstrok;alno&sacute;ci, kt&oacute;r&aogon; Klient chce promowa&cacute; korzystaj&aogon;c z Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo;;
                    li
                      | Klient za po&sacute;rednictwem Aplikacji wgrywa plik graficzny lub wpisuje tre&sacute;&cacute; Reklamy, okre&sacute;laj&aogon;c jednocze&sacute;nie adres URL, do kt&oacute;rego Reklama po klikni&eogon;ciu na ni&aogon; ma odsy&lstrok;a&cacute;;
                    li
                      | Po prawid&lstrok;owym wype&lstrok;nieniu Formularza Zam&oacute;wienia wy&sacute;wietlane jest podsumowanie Zam&oacute;wienia, w tym jego &lstrok;&aogon;czna cena oraz spos&oacute;b p&lstrok;atno&sacute;ci. Klient sk&lstrok;ada zam&oacute;wienie przez klikni&eogon;cie w przycisk &bdquo;Zap&lstrok;a&cacute; teraz&rdquo;. Klikni&eogon;cie w przycisk &bdquo;Kup i Zap&lstrok;a&cacute;&rdquo; powoduje powstanie po stronie Klienta obowi&aogon;zku zap&lstrok;aty ceny za zam&oacute;wienie. Potwierdzenie tre&sacute;ci zam&oacute;wienia oznacza zgod&eogon; Klienta na warunki &sacute;wiadczenia Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo;, zawarte w niniejszym Regulaminie.
                    li
                      | Niezw&lstrok;ocznie po z&lstrok;o&zdot;eniu zam&oacute;wienia obejmuj&aogon;cego Us&lstrok;ug&eogon; &bdquo;Dni&oacute;wka&rdquo;  i otrzymaniu przez Adtialy potwierdzenia dokonania p&lstrok;atno&sacute;ci przez Klienta, Klient otrzyma na adres poczty elektronicznej potwierdzenie przyj&eogon;cia zam&oacute;wienia przez Adtaily stanowi&aogon;ce potwierdzenie zawarcia umowy.
                li
                  | Za po&sacute;rednictwem Serwisu AdTaily:
                  ul
                    li
                      | Klient z listy Serwis&oacute;w Wydawc&oacute;w dost&eogon;pnej na Serwisie AdTaily pod adresem http://www.adtaily.pl/marketplace wybiera te Serwisy Wydawc&oacute;w, na kt&oacute;rych chcia&lstrok;by publikowa&cacute; Reklamy;
                    li
                      | Klient wype&lstrok;nia Formularz Zam&oacute;wienia znajduj&aogon;cy si&eogon; pod adresem https://www.adtaily.pl/marketplace/campaigns/new poprzez podanie wymaganych danych Klienta wraz z informacjami na temat us&lstrok;ugi lub dzia&lstrok;alno&sacute;ci, kt&oacute;r&aogon; Klient chce promowa&cacute; korzystaj&aogon;c z Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo;;
                    li
                      | Klient wgrywa plik graficzny lub wpisuje w odpowiednie pole Formularza Zam&oacute;wienia tre&sacute;&cacute; Reklamy, okre&sacute;laj&aogon;c jednocze&sacute;nie daty publikacji Reklamy oraz adres URL, do kt&oacute;rego Reklama po klikni&eogon;ciu na ni&aogon; ma odsy&lstrok;a&cacute;;
                    li Klient okre&sacute;la w Formularzu Zam&oacute;wienia dat&eogon; startu Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo;;
                    li
                      | Po prawid&lstrok;owym wype&lstrok;nieniu Formularza Zam&oacute;wienia wy&sacute;wietlane jest podsumowanie Zam&oacute;wienia, w tym jego &lstrok;&aogon;czna cena oraz spos&oacute;b p&lstrok;atno&sacute;ci. Klient sk&lstrok;ada zam&oacute;wienie przez klikni&eogon;cie w przycisk &bdquo;Zap&lstrok;a&cacute; teraz&rdquo; Klikni&eogon;cie w przycisk &bdquo;Kup i Zap&lstrok;a&cacute;&rdquo; powoduje powstanie po stronie Klienta obowi&aogon;zku zap&lstrok;aty ceny za zam&oacute;wienie. Potwierdzenie tre&sacute;ci zam&oacute;wienia oznacza zgod&eogon; Klienta na warunki &sacute;wiadczenia Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo;, zawarte w niniejszym Regulaminie.
                    li
                      | Niezw&lstrok;ocznie po z&lstrok;o&zdot;eniu zam&oacute;wienia obejmuj&aogon;cego Us&lstrok;ug&eogon; &bdquo;Dni&oacute;wka&rdquo;  i otrzymaniu przez Adtialy potwierdzenia dokonania p&lstrok;atno&sacute;ci przez Klienta, Klient otrzyma na adres poczty elektronicznej potwierdzenie przyj&eogon;cia zam&oacute;wienia przez Adtaily stanowi&aogon;ce potwierdzenie zawarcia umowy.
                li
                  | Za po&sacute;rednictwem konsultanta AdTaily:
                  ul
                    li
                      | Klient wysy&lstrok;a wiadomo&sacute;&cacute; na adres sales@adtaily.com z informacj&aogon;, &zdot;e chcia&lstrok;by skorzysta&cacute; z Us&lstrok;ugi.
                    li
                      | Po odebraniu wiadomo&sacute;ci konsultant reprezentuj&aogon;cy AdTaily kontaktuje si&eogon; z Klientem celem ustalenia warunk&oacute;w skorzystania przez Klienta z Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo;.
                    li
                      | Po ustaleniu przez Klienta i przedstawiciela AdTaily warunk&oacute;w korzystania z Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo; Klient potwierdza ustalone warunki oraz dokonuje p&lstrok;atno&sacute;ci za czas zamawianej publikacji Reklam. Potwierdzenie tre&sacute;ci zam&oacute;wienia oznacza zgod&eogon; Klienta na warunki &sacute;wiadczenia Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo;, zawarte w niniejszym Regulaminie;
                    li
                      | Poza ustaleniem warunk&oacute;w, na jakich &sacute;wiadczona b&eogon;dzie Us&lstrok;uga &bdquo;Dni&oacute;wka&rdquo;, Klient mo&zdot;e ustala&cacute; z konsultantem AdTaily: (i) wyb&oacute;r optymalnych z punktu widzenia interes&oacute;w Klienta serwis&oacute;w Wydawc&oacute;w, na jakich ma by&cacute; publikowana Reklama Klienta, (ii) wyb&oacute;r kreacji reklamowych odpowiadaj&aogon;cych potrzebom Klienta.
          h4 Art. 4. US&Lstrok;UGA &bdquo;KLIKNI&Eogon;CIA&rdquo;
          ol
            li
              | Korzystaj&aogon;c z Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo; Klient uzyskuje mo&zdot;liwo&sacute;&cacute; publikacji Reklam na wybranych stronach internetowych Wydawc&oacute;w.
            li
              | Aby z&lstrok;o&zdot;y&cacute; zam&oacute;wienie Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo; Klient podejmuje kolejne czynno&sacute;ci techniczne w oparciu o komunikaty i instrukcje wy&sacute;wietlane w Serwisie.
            li
              | AdTaily umo&zdot;liwia 2 (s&lstrok;ownie: dwa) modele zamawiania Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo;:
              ul
                li
                  | Za po&sacute;rednictwem Serwisu AdTaily:
                  ul
                    li
                      | Klient wype&lstrok;nia Formularz Zam&oacute;wienia (&bdquo;Formularz&rdquo;) znajduj&aogon;cy si&eogon; pod adresem www.adtaily.pl/klikniecia poprzez podanie wymaganych danych Klienta wraz z informacjami na temat us&lstrok;ugi lub dzia&lstrok;alno&sacute;ci, kt&oacute;r&aogon; Klient chce promowa&cacute;, bran&zdot;y w kt&oacute;rej Klient dzia&lstrok;a, strony internetowej Klienta;
                    li
                      | Klient z listy dost&eogon;pnej na stronie internetowej pod adresem www.adtaily.pl/klikniecia wybiera kategorie Serwis&oacute;w, na kt&oacute;rych chcia&lstrok;by publikowa&cacute; Reklamy lub okre&sacute;la teren geograficzny, na kt&oacute;rym chce si&eogon; reklamowa&cacute;, lub wybiera opcj&eogon; reklamy na wszystkich Serwisach AdTaily.
                    li
                      | Klient z 3 dost&eogon;pnych opcji (pakiet&oacute;w) wybiera bud&zdot;et Kampanii: * i. Starter: 300 &ndash; 499 z&lstrok;. brutto. W cenie pakietu: dok&lstrok;adny raport oraz wsparcie przy tworzeniu skutecznej kreacji reklamowej; * ii. Standard: 500 &ndash; 1999 z&lstrok; brutto. W cenie pakietu: dok&lstrok;adny raport, wsparcie przy tworzeniu skutecznej kreacji reklamowej oraz dodatkowy zestaw 3 kreacji w celu wy&lstrok;onienia najskuteczniejszej; * iii.Power: 2000 z&lstrok;. &ndash; 7000 z&lstrok;. brutto W cenie pakietu: dok&lstrok;adny raport, wsparcie przy tworzeniu skutecznej kreacji reklamowe, dodatkowy zestaw 3 kreacji w celu wy&lstrok;onienia najskuteczniejszej, monitoring i optymalizacja kampanii oraz retargeting, zwi&eogon;kszaj&aogon;cy skuteczno&sacute;&cacute; kampanii; * iv. Przy zam&oacute;wieniu powy&zdot;ej 7000 z&lstrok; brutto warunki Us&lstrok;ugi ustalane s&aogon; indywidualnie;
                    li
                      | Klient wgrywa plik graficzny, okre&sacute;laj&aogon;c jednocze&sacute;nie adres URL, do kt&oacute;rego Reklama po klikni&eogon;ciu na ni&aogon; ma odsy&lstrok;a&cacute;;
                    li
                      | Po prawid&lstrok;owym wype&lstrok;nieniu Formularza Zam&oacute;wienia, Klient otrzyma podsumowanie kampanii wyliczone w oparciu o parametry wskazane przez Klienta, zawieraj&aogon;ce &lstrok;&aogon;czn&aogon; cene oraz spos&oacute;b p&lstrok;atno&sacute;ci. Po zaakceptowaniu przez Klienta podsumowanych ustale&nacute; dotycz&aogon;cych Kampanii, klikni&eogon;ciu w przycisk &bdquo;Zap&lstrok;a&cacute; teraz&rdquo; Klient dokonuje p&lstrok;atno&sacute;ci. Klikni&eogon;cie w przycisk &bdquo;Zap&lstrok;a&cacute; teraz&rdquo; powoduje powstanie po stronie Klienta obowi&aogon;zku zap&lstrok;aty ceny za zam&oacute;wienie Kampania wystartuje w przeci&aogon;gu trzech dni roboczych od zaksi&eogon;gowania p&lstrok;atno&sacute;ci Klienta. Potwierdzenie tre&sacute;ci zam&oacute;wienia oznacza zgod&eogon; Klienta na warunki &sacute;wiadczenia Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo;, zawarte w niniejszym Regulaminie.
                    li
                      | Niezw&lstrok;ocznie po z&lstrok;o&zdot;eniu zam&oacute;wienia obejmuj&aogon;cego Us&lstrok;ug&eogon; &bdquo;Klikni&eogon;cia&rdquo;  i otrzymaniu przez Adtialy potwierdzenia dokonania p&lstrok;atno&sacute;ci przez Klienta, Klient otrzyma na adres poczty elektronicznej potwierdzenie przyj&eogon;cia zam&oacute;wienia przez Adtaily stanowi&aogon;ce potwierdzenie zawarcia umowy.
                li
                  | Za po&sacute;rednictwem konsultanta AdTaily:
                  ul
                    li
                      | Klient wysy&lstrok;a wiadomo&sacute;&cacute; na adres sales@adtaily.pl z informacj&aogon;, &zdot;e chcia&lstrok;by skorzysta&cacute; z Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo;;
                    li
                      | Po odebraniu wiadomo&sacute;ci przedstawiciel AdTaily kontaktuje si&eogon; z Klientem celem ustalenia warunk&oacute;w skorzystania przez Klienta z Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo;;
                    li
                      | Po ustaleniu przez Klienta i przedstawiciela AdTaily warunk&oacute;w korzystania z Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo;, Klient potwierdza ustalone warunki oraz dokonuje p&lstrok;atno&sacute;ci za czas zamawianej publikacji Reklam. Potwierdzenie tre&sacute;ci zam&oacute;wienia oznacza zgod&eogon; Klienta na warunki &sacute;wiadczenia Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo;, zawarte w niniejszym Regulaminie.
          h4 Art. 5. US&Lstrok;UGA &bdquo;ODROCZONA PUBLIKACJA REKLAM&rdquo;
          ol
            li
              | Korzystaj&aogon;c z Us&lstrok;ugi &bdquo;Odroczona publikacja reklam &rdquo; Klient uzyskuje mo&zdot;liwo&sacute;&cacute; zakupu us&lstrok;ugi publikacji Reklamy, kt&oacute;rej publikacja nast&aogon;pi w okre&sacute;lonym czasie w przysz&lstrok;o&sacute;ci, jednak nie p&oacute;&zacute;niej ni&zdot; w ci&aogon;gu 6 miesi&eogon;cy od dnia zam&oacute;wienia przez Klienta publikacji danej Reklamy, na wybranych stronach internetowych Wydawc&oacute;w.
            li
              | AdTaily umo&zdot;liwia nast&eogon;puj&aogon;ce modele zamawiania Us&lstrok;ugi &bdquo;Odroczona publikacja reklam&rdquo;: model Klikni&eogon;cia opisany w art.4 lub model Dni&oacute;wki opisany w art.3.
            li
              | Podstaw&aogon; rozliczania publikacji Reklam s&aogon; cenniki reklamowe obowi&aogon;zuj&aogon;ce w dacie zlecenia przez Klienta zam&oacute;wienia publikacji danej Reklamy.
            li
              | Postanowienia art. 6 poni&zdot;ej stosuje si&eogon;, z tym, &zdot;e w przypadku braku realizacji Reklamy przez Klienta lub jej realizacji jedynie w cz&eogon;&sacute;ci, kwota przekazana przez Klienta tytu&lstrok;em zap&lstrok;aty za publikacj&eogon; Reklamy zostanie przekazana na poczet wynagrodzenia za us&lstrok;ug&eogon; emisji zam&oacute;wionych reklam (w zakresie w jakim Klient skorzysta&lstrok; z publikacji Reklam w cz&eogon;&sacute;ci) oraz us&lstrok;ugi rezerwacji miejsca i czasu na Reklam&eogon; (w zakresie w jakim nie skorzysta&lstrok; z publikacji Reklam).
            li
              | Niezw&lstrok;ocznie po z&lstrok;o&zdot;eniu zam&oacute;wienia obejmuj&aogon;cego Us&lstrok;ug&eogon; &bdquo;Odroczona publikacja reklam&rdquo;  i otrzymaniu przez Adtialy potwierdzenia dokonania p&lstrok;atno&sacute;ci przez Klienta, Klient otrzyma na adres poczty elektronicznej potwierdzenie przyj&eogon;cia zam&oacute;wienia przez Adtaily stanowi&aogon;ce potwierdzenie zawarcia umowy.
          h4 Art. 6. P&Lstrok;ATNO&Sacute;CI
          ol
            li
              | Wynagrodzenie AdTaily z tytu&lstrok;u publikacji Reklamy jest ustalane na podstawie cennika obowi&aogon;zuj&aogon;cego w dniu z&lstrok;o&zdot;enia przez Klienta zam&oacute;wienia na publikacj&eogon; danej Reklamy. Cennik jest ka&zdot;dorazowo widoczny przez Klienta w ramach swojego konta w Aplikacji.
            li
              | AdTaily przys&lstrok;uguje prawo zmiany cen zawartych w cenniku, o kt&oacute;rym mowa powy&zdot;ej, w ka&zdot;dym czasie, bez ogranicze&nacute;. Zmiana cen nie ma wp&lstrok;ywu na wysoko&sacute;&cacute; przys&lstrok;uguj&aogon;cego AdTaily wynagrodzenia za publikacje Reklam b&eogon;d&aogon;cych w trakcie realizacji.
            li
              | Publikacj&eogon; Reklam Klient mo&zdot;e op&lstrok;aci&cacute; kart&aogon; kredytow&aogon; lub przy pomocy przelew&oacute;w oferowanych przez serwisy b&eogon;d&aogon;ce Bramkami P&lstrok;atno&sacute;ci.
            li
              | W obu przypadkach opisanych w ust. 3 powy&zdot;ej, po wype&lstrok;nieniu przez Klienta Formularza Zam&oacute;wienia, potwierdzeniu tre&sacute;ci zam&oacute;wionej Reklamy oraz czasu publikacji, wype&lstrok;nieniu formularza zawieraj&aogon;cego dane niezb&eogon;dne do wystawienia faktury VAT (w przypadku zg&lstrok;oszenia przez U&zdot;ytkownika zamiaru otrzymania faktury VAT poprzez wype&lstrok;nienie odpowiedniej rubryki w Formularzu Zam&oacute;wienia), Klient zostanie odes&lstrok;any do strony Bramki P&lstrok;atno&sacute;ci zawieraj&aogon;cej formularz pozwalaj&aogon;cy za op&lstrok;acenie Reklamy.
            li
              | Je&zdot;eli autoryzacja karty kredytowej lub przelewu przebiegnie pomy&sacute;lnie, Klient zostanie o tym poinformowany, a na koncie Klienta zostanie zablokowana kwota odpowiadaj&aogon;ca wynagrodzeniu AdTaily za publikacj&eogon; zamawianej przez Klienta Reklamy, kt&oacute;ra to kwota zostanie przekazana na rachunek AdTaily w PayPal, Dotpay lub inny w momencie skierowania Reklamy do publikacji.
            li
              | W przypadku, kiedy AdTaily nie otrzyma potwierdzenia p&lstrok;atno&sacute;ci, reklama nie jest publikowana.
            li
              | W przypadku, kiedy AdTaily otrzyma potwierdzenie p&lstrok;atno&sacute;ci po wybranej przez Klienta dacie rozpocz&eogon;cia publikacji Reklamy, publikacja jest przesuwana w czasie i jest realizowana od chwili otrzymania potwierdzenia.
            li
              | Klient akceptuje wystawianie i przesy&lstrok;anie przez AdTaily w formie elektronicznej faktur oraz duplikat&oacute;w faktur.
          h4 Art. 7. OGRANICZENIE TRE&Sacute;CI REKLAM
          ol
            li Formularz okre&sacute;la specyfikacj&eogon; techniczn&aogon; Reklamy.
            li
              | Niedopuszczalne jest umieszczanie w Reklamie tre&sacute;ci sprzecznych z prawem, naruszaj&aogon;cych prawa i dobra os&oacute;b trzecich, wzywaj&aogon;cych do nienawi&sacute;ci rasowej, wyznaniowej, etnicznej, czy te&zdot; propaguj&aogon;cych przemoc; jak r&oacute;wnie&zdot; tre&sacute;ci pornograficznych czy uznanych powszechnie za naganne moralnie i spo&lstrok;ecznie niew&lstrok;a&sacute;ciwe.
            li
              | Niedopuszczalne jest umieszczenie Reklamy stanowi&aogon;cej niedozwolon&aogon; reklam&eogon; b&aogon;d&zacute; promocj&eogon; gier hazardowych, promuj&aogon;cej alkohol, wyroby tytoniowe, narkotyki lub substancje o podobnym dzia&lstrok;aniu, lekarstwa na recept&eogon;, wszelkie &sacute;rodki wp&lstrok;ywaj&aogon;ce na zmiany percepcji, wszelkie &sacute;rodki maj&aogon;ce niepotwierdzone naukowo efekty dzia&lstrok;ania lub inne produkty czy us&lstrok;ugi, kt&oacute;rych reklamowanie jest zabronione prawnie lub obci&aogon;&zdot;one dodatkowymi podatkami lub ograniczeniami.
            li
              | Niedopuszczalne jest umieszczanie przez U&zdot;ytkownik&oacute;w Reklamy stron internetowych zawieraj&aogon;cych tre&sacute;ci, o kt&oacute;rych mowa w ust. 2 powy&zdot;ej.
            li
              | AdTaily zastrzega sobie prawo do usuwania Reklam, o kt&oacute;rych mowa w ust. 2, 3 i 4 powy&zdot;ej. W przypadku usuni&eogon;cia wy&zdot;ej wymienionych Reklam, uiszczone przez Klienta wynagrodzenie AdTaily z tytu&lstrok;u umieszczenia Reklam nie podlega zwrotowi.
            li
              | AdTaily mo&zdot;e przekaza&cacute; pozostaj&aogon;ce w jej posiadaniu dane Klient&oacute;w zamawiaj&aogon;cych Reklamy s&aogon;dowi, prokuraturze, policji i innym uprawnionym organom na potrzeby post&eogon;powa&nacute; prowadzonych przez nich w zwi&aogon;zku z naruszeniem prawa.
          h4 Art. 8. PUBLIKACJA REKLAM
          ol
            li
              | &bdquo;W Us&lstrok;udze &bdquo;Dni&oacute;wki&rdquo; Klienci mog&aogon; zamawia&cacute; Kampanie Reklamowe, wed&lstrok;ug swojego wyboru, na okres jednego dnia b&aogon;d&zacute; jego wielokrotno&sacute;ci.&rdquo; Klienci mog&aogon; zamawia&cacute; Kampanie Reklamowe, wed&lstrok;ug swojego wyboru, na okres jednego dnia b&aogon;d&zacute; jego wielokrotno&sacute;ci.
            li
              | W odniesieniu do Us&lstrok;ugi &bdquo;Dni&oacute;wki&rdquo; AdTaily publikuje w ramach Kampanii Reklamowej zam&oacute;wione przez Klient&oacute;w Reklamy na zasadzie &ldquo;pierwsze miejsce wolne&rdquo;, to jest przyznaje Klientom, kt&oacute;rzy op&lstrok;acili publikacj&eogon;, pierwsze wolne miejsce dla danej Reklamy.
            li
              | AdTaily publikuje w ramach Kampanii Reklamowej zam&oacute;wione przez Klient&oacute;w Reklamy w specjalnym oknie reklamowym obok Reklam zam&oacute;wionych przez innych Klient&oacute;w.
            li
              | Okres danej Kampanii Reklamowej rozpoczyna si&eogon; ka&zdot;dorazowo pod trzema warunkami:
              ul
                li
                  | Nadej&sacute;cia dnia, kt&oacute;ry zosta&lstrok; wybrany na dzie&nacute; rozpocz&eogon;cia wy&sacute;wietlania Reklamy w ramach okre&sacute;lonej Kampanii Reklamowej;
                li
                  | Otrzymania przez AdTaily potwierdzenia op&lstrok;aty za Reklamy publikowane w ramach danej Kampanii Reklamowej w ci&aogon;gu 15 minut od zarezerwowania miejsc reklamowych;
                li
                  | Zaakceptowania Reklam publikowanych w ramach danej Kampanii Reklamowej, przez co najmniej jednego Wydawc&eogon;.
            li
              | Je&sacute;li w ci&aogon;gu 15 minut od zarezerwowania miejsc reklamowych AdTaily nie otrzyma potwierdzenia p&lstrok;atno&sacute;ci w&oacute;wczas AdTaily mo&zdot;e powstrzyma&cacute; si&eogon; z realizacj&aogon; Kampanii Reklamowej.
            li
              | Je&sacute;li AdTaily nie otrzyma potwierdzenia p&lstrok;atno&sacute;ci po up&lstrok;ywie 15 minut od zarezerwowania miejsc reklamowych w&oacute;wczas Kampania Reklamowa nie jest realizowana, a AdTaily odblokowuje zarezerwowane &sacute;rodki na koncie PayPal lub karcie kredytowej Klienta.
            li
              | Za moment rezerwacji miejsc reklamowych uwa&zdot;a si&eogon; przyci&sacute;ni&eogon;cie przycisku prowadz&aogon;cego do Bramki P&lstrok;atno&sacute;ci dost&eogon;pnego po stworzeniu Reklamy.
            li
              | Publikacja Reklam mo&zdot;e by&cacute; ograniczona przez poszczeg&oacute;lnych Wydawc&oacute;w poprzez mechanizmy moderacji, okre&sacute;lone w Art. 14 Regulaminu.
          h4 Art. 9. REKLAMACJE
          ol
            li
              | Reklamacje dotycz&aogon;ce sposobu i jako&sacute;ci realizacji Us&lstrok;ugi Klient zobowi&aogon;zany jest zg&lstrok;asza&cacute; AdTaily poczt&aogon; elektroniczn&aogon; na adres reklamacje@adtaily.pl nie p&oacute;&zacute;niej, ni&zdot; w ci&aogon;gu 14 dni roboczych licz&aogon;c od dnia zakwestionowanej publikacji.
            li
              | Niedotrzymanie terminu zg&lstrok;oszenia reklamacji powoduje utrat&eogon; przez Klienta prawa do reklamacji Reklamy.
            li Reklamacja powinna wskazywa&cacute; wady opublikowanej lub zam&oacute;wionej Reklamy.
            li
              | Oceny przedmiotu reklamacji oraz jej zasadno&sacute;ci dokonuje pracownik lub upowa&zdot;niony przedstawiciel AdTaily.
            li
              | Je&zdot;eli reklamacja jest uzasadniona, AdTaily, po konsultacjach z Klientem, zobowi&aogon;zane jest sprostowa&cacute; wady w Reklamie.
            li
              | Je&zdot;eli reklamacja jest uzasadniona, AdTaily wed&lstrok;ug w&lstrok;asnego wyboru i mo&zdot;liwo&sacute;ci, po konsultacjach z Klientem, zobowi&aogon;zana jest do realizacji ustalonej rekompensaty. W &zdot;adnym przypadku AdTaily nie ponosi odpowiedzialno&sacute;ci wy&zdot;szej ni&zdot; kwota wynagrodzenia za publikacj&eogon; Reklamy.
          h4 Art. 10. PRZERWY TECHNICZNE
          ol
            li
              | AdTaily jest uprawnione do czasowej przerwy w &sacute;wiadczeniu us&lstrok;ug obj&eogon;tych niniejszym Regulaminem z przyczyn technicznych. AdTaily do&lstrok;o&zdot;y najwy&zdot;szej staranno&sacute;ci, aby wskazane wy&zdot;ej przerwy mia&lstrok;y miejsce w godzinach nocnych i trwa&lstrok;y mo&zdot;liwie najkr&oacute;cej. Przerwy w &sacute;wiadczeniu us&lstrok;ug z przyczyn technicznych nie maj&aogon; wp&lstrok;ywu na ocen&eogon; wykonania przez AdTaily zobowi&aogon;za&nacute; z tytu&lstrok;u publikacji Reklamy.
            li
              | AdTaily nie ponosi odpowiedzialno&sacute;ci wobec Klient&oacute;w za niewykonanie lub nienale&zdot;yte wykonanie us&lstrok;ug z przyczyn le&zdot;&aogon;cych po stronie os&oacute;b trzecich (w tym operator&oacute;w sieci telekomunikacyjnych) ani spowodowanych dzia&lstrok;aniami si&lstrok;y wy&zdot;szej.
          h4 Art. 11. ODPOWIEDZIALNO&Sacute;&Cacute;
          ol
            li
              | AdTaily nie ponosi odpowiedzialno&sacute;ci za tre&sacute;&cacute; zamieszczanych Reklam oraz zawarto&sacute;&cacute; stron internetowych, do kt&oacute;rych Reklamy odsy&lstrok;aj&aogon;.
            li
              | Klient zobowi&aogon;zany jest do naprawienia wszelkich szk&oacute;d powsta&lstrok;ych po stronie AdTaily w zwi&aogon;zku z tre&sacute;ci&aogon; zamieszczonej Reklamy oraz zawarto&sacute;ci&aogon; stron internetowych, do kt&oacute;rych Reklama odsy&lstrok;a, w tym r&oacute;wnie&zdot; do poniesienia niezb&eogon;dnych koszt&oacute;w post&eogon;powa&nacute; spornych, wpis&oacute;w s&aogon;dowych, koszt&oacute;w zast&eogon;pstwa procesowego i innych uzasadnionych wydatk&oacute;w AdTaily poniesionych w zwi&aogon;zku z roszczeniami os&oacute;b trzecich.
            li
              | Klient jest wy&lstrok;&aogon;cznie odpowiedzialny za zapewnienie, &zdot;e przys&lstrok;uguj&aogon; mu prawa na dobrach niematerialnych (autorskie, pokrewne, wynalazcze, z tytu&lstrok;u tajemnicy przedsi&eogon;biorstwa i inne) do pos&lstrok;ugiwania si&eogon; u&zdot;ytymi w zleconych do publikacji Reklam &ndash; informacjami, danymi, utworami b&aogon;d&zacute; ich fragmentami lub innymi elementami stanowi&aogon;cymi przedmiot jakiejkolwiek ochrony prawnej.
            li
              | Przes&lstrok;anie formularza zam&oacute;wienia jest r&oacute;wnoznaczne z o&sacute;wiadczeniem Klienta, &zdot;e powy&zdot;szy obowi&aogon;zek jest spe&lstrok;niony.
            li
              | Odpowiedzialno&sacute;&cacute; AdTaily wobec Klienta za nienale&zdot;yt&aogon; realizacj&eogon; Kampanii Reklamowej ograniczona jest do warto&sacute;ci wynagrodzenia nale&zdot;nego AdTaily z tytu&lstrok;u danej Kampanii Reklamowej.
          h4 Art. 12. DANE OSOBOWE
          p
            | Dane osobowe, jakie Klient przekazuje AdTaily w zwi&aogon;zku z korzystaniem przez Klienta z Us&lstrok;ugi, AdTaily zbiera i przetwarza wy&lstrok;&aogon;cznie dla cel&oacute;w zwi&aogon;zanych z realizacj&aogon; Us&lstrok;ugi, zgodnie z obowi&aogon;zuj&aogon;cymi przepisami prawa oraz Polityk&aogon; Ochrony Prywatno&sacute;ci znajduj&aogon;c&aogon; si&eogon; pod linkiem www.adtaily.pl/polityka-prywatnosci.
          h4 Art. 13. ROZLICZENIA Z WYDAWC&Aogon;
          ol
            li
              | Wydawca rozpoczyna wsp&oacute;&lstrok;prac&eogon; z AdTaily okre&sacute;lon&aogon; w Regulaminie, poprzez za&lstrok;o&zdot;enie swojego konta w Aplikacji. Za&lstrok;o&zdot;enie konta oznacza akceptacj&eogon; Regulaminu.
            li
              | Wydawca udost&eogon;pnia AdTaily powierzchni&eogon; reklamow&aogon; Serwisu Wydawcy dost&eogon;pn&aogon; w ramach Aplikacji, w zamian za zap&lstrok;at&eogon; wynagrodzenia odpowiadaj&aogon;cego warto&sacute;ci prowizji za emisj&eogon; Reklam na zasadach ni&zdot;ej opisanych.
            li
              | Us&lstrok;ugi reklamowe zwi&aogon;zane z emisj&aogon; Reklam w ramach Aplikacji w Serwisie Wydawcy &sacute;wiadczy wy&lstrok;&aogon;cznie AdTaily, kt&oacute;re te&zdot; we w&lstrok;asnym zakresie ustala cenniki publikacji Reklam i dokonuje rozlicze&nacute; z Klientem z tego tytu&lstrok;u.
            li
              | AdTaily ustala cen&eogon; Reklam dla Klienta z tytu&lstrok;u emisji Reklam w Serwisie Wydawcy w ramach Aplikacji. Od ceny, kt&oacute;r&aogon; Klient zap&lstrok;aci&lstrok; za emisj&eogon; Reklam AdTaily wyp&lstrok;aca Wydawcy prowizj&eogon; stanowi&aogon;c&aogon; zap&lstrok;at&eogon; za udost&eogon;pnienie przez Wydawc&eogon; powierzchni reklamowej Serwisu Wydawcy dost&eogon;pnej w ramach Aplikacji. Prowizja ta ka&zdot;dorazowo ustalana jest pomi&eogon;dzy AdTaily a Wydawc&aogon;.
            li
              | Wyp&lstrok;ata prowizji nast&eogon;puje automatycznie za po&sacute;rednictwem systemu PayPal, po wp&lstrok;yni&eogon;ciu zap&lstrok;aty za Reklamy od Klienta, pod warunkiem, &zdot;e:
              ul
                li Zako&nacute;czona zosta&lstrok;a emisja Reklamy na Serwisie Wydawcy;
                li
                  | Wydawca uzupe&lstrok;ni&lstrok; w ramach Aplikacji swoje dane osobowe (imi&eogon; i nazwisko, adres zameldowania) lub firmowe (firma, status prawny, adres, NIP);
                li Wydawca poda&lstrok; w ramach Aplikacji swoje konto PayPal;
                li
                  | Wynagrodzenie nale&zdot;ne Wydawcy z tytu&lstrok;u prowizji przekroczy w dacie wyp&lstrok;aty kwot&eogon; brutto 100z&lstrok;.;
                li Wydawca zleci&lstrok; wykonanie wyp&lstrok;aty w ramach Aplikacji;
                li
                  | W przypadku, gdy Wydawca jest podatnikiem podatku VAT zlecenie wyp&lstrok;aty w Aplikacji zosta&lstrok;o uzupe&lstrok;nione o elektroniczn&aogon; faktur&eogon; VAT, a orygina&lstrok; zosta&lstrok; dor&eogon;czony poczt&aogon; na adres AdTaily;
                li AdTaily zaakceptowa&lstrok;o zlecenie wyp&lstrok;aty.
            li
              | Wydawca mo&zdot;e za&zdot;&aogon;da&cacute; wyp&lstrok;acenia prowizji bez spe&lstrok;nienia warunku z ust. 4 powy&zdot;ej w momencie zg&lstrok;oszenia likwidacji swojego konta, wysy&lstrok;aj&aogon;c wiadomo&sacute;&cacute; na adres e-mail: kontakt@adtaily.pl. W takim przypadku przed wyp&lstrok;aceniem prowizji pobierana jest jednorazowa op&lstrok;ata 10 z&lstrok; ze &sacute;rodk&oacute;w zgromadzonych na koncie.
            li
              | Wynagrodzenie Wydawcy rozliczane jest w za&lstrok;o&zdot;onym przez Wydawc&eogon; koncie w ramach Aplikacji.
            li
              | AdTaily nie gwarantuje Wydawcy okre&sacute;lonej liczby Reklam do emisji w Serwisie Wydawcy.
            li
              | AdTaily ma prawo do wy&lstrok;&aogon;czania emisji Reklam w Serwisie Wydawcy je&zdot;eli wy&sacute;wietlanie Reklamy szkodzi interesom Klienta, b&aogon;d&zacute; podmiotu, na rzecz kt&oacute;rego realizuje on Kampani&eogon; Reklamow&aogon;.
            li
              | W przypadku, gdy Wydawca jest osob&aogon; fizyczn&aogon; nieprowadz&aogon;c&aogon; dzia&lstrok;alno&sacute;ci gospodarczej b&aogon;d&zacute; osob&aogon; fizyczn&aogon; prowadz&aogon;c&aogon; dzia&lstrok;alno&sacute;&cacute; gospodarcz&aogon; nie b&eogon;d&aogon;c&aogon; p&lstrok;atnikiem podatku VAT, wynagrodzenie Wydawcy zostanie pomniejszone o warto&sacute;&cacute; r&oacute;wn&aogon; warto&sacute;ci podatku VAT (23%).
          h4 Art.14. ODPOWIEDZIALNO&Sacute;&Cacute; WYDAWCY
          ol
            li
              | Wydawca zobowi&aogon;zuje si&eogon;, &zdot;e nie b&eogon;dzie zak&lstrok;&oacute;ca&lstrok; dzia&lstrok;ania Aplikacji, a w szczeg&oacute;lno&sacute;ci nie b&eogon;dzie prowadzi&lstrok; dzia&lstrok;a&nacute; maj&aogon;cych na celu wprowadzenie w b&lstrok;&aogon;d Reklamodawcy co do nazwy Serwisu, jego opisu, typu, s&lstrok;&oacute;w kluczowych, adresu URL, ceny, ogl&aogon;dalno&sacute;ci, widoczno&sacute;ci Kampanii Reklamowej oraz jej rezultat&oacute;w w tym klikni&eogon;&cacute; na Serwisie.
            li
              | Wydawca zobowi&aogon;zuje si&eogon; do niepodejmowania dzia&lstrok;a&nacute; oraz zapobiegania dzia&lstrok;aniom polegaj&aogon;cym na zwi&eogon;kszaniu w sztuczny spos&oacute;b (r&eogon;cznie, ani wykorzystuj&aogon;c jakiekolwiek urz&aogon;dzenie, program, &sacute;rodek elektroniczny, nak&lstrok;aniaj&aogon;c u&zdot;ytkownik&oacute;w do klikania w reklamy, itp.) liczby ods&lstrok;on lub klikni&eogon;&cacute; Reklam w Serwisie Wydawcy. W takiej sytuacji AdTaily ma r&oacute;wnie&zdot; prawo wy&lstrok;&aogon;czy&cacute; wy&sacute;wietlanie reklam na serwisach Wydawcy lub bezpowrotnie zamkn&aogon;&cacute; jego konto.
            li
              | Je&zdot;eli w trakcie trwania Kampanii Reklamowej Wydawca usunie Aplikacj&eogon; lub naruszy zobowi&aogon;zania okre&sacute;lone w ust. 1 powy&zdot;ej b&aogon;d&zacute; zaistnieje sytuacja zwi&eogon;kszania w sztuczny spos&oacute;b (r&eogon;cznie, ani wykorzystuj&aogon;c jakiekolwiek urz&aogon;dzenie, program, &sacute;rodek elektroniczny, itp.) liczby ods&lstrok;on lub klikni&eogon;&cacute; Reklam w Serwisie Wydawcy, w&oacute;wczas Wydawca traci prawo do wynagrodzenia nale&zdot;nego mu za tak realizowan&aogon; Kampani&eogon; Reklamow&aogon;, a nadto &ndash; w przypadku, gdy opisane wy&zdot;ej sytuacje s&aogon; zawinione przez Wydawc&eogon; &ndash; traci prawo do wszystkich wynagrodze&nacute; (z wszelkich tytu&lstrok;&oacute;w) pozosta&lstrok;ych do wyp&lstrok;aty przez AdTaily w ramach Konta wydawcy, o kt&oacute;rym mowa w Art. 11 ust 7 Regulaminu.
            li
              | Wydawca zobowi&aogon;zuje si&eogon; nie umieszcza&cacute; Reklam w ramach Aplikacji w ramkach, zmniejszania, lub utrudniania w inny spos&oacute;b pe&lstrok;nego wy&sacute;wietlania ca&lstrok;ej tre&sacute;ci Reklam.
            li
              | Wydawca zobowi&aogon;zuje si&eogon; nie umieszcza&cacute; Reklam na Serwisach o tre&sacute;ciach sprzecznych z prawem, naruszaj&aogon;cych prawa i dobra os&oacute;b trzecich, wzywaj&aogon;cych do nienawi&sacute;ci rasowej, wyznaniowej, etnicznej, czy te&zdot; propaguj&aogon;cych przemoc; jak r&oacute;wnie&zdot; uznanych powszechnie za naganne moralnie i spo&lstrok;ecznie niew&lstrok;a&sacute;ciwe.
            li
              | W przypadku naruszenia ust. 4 i/lub 5 niniejszego Artyku&lstrok;u, AdTaily ma prawo do natychmiastowego zamkni&eogon;cia konta Wydawcy, bez wcze&sacute;niejszej wyp&lstrok;aty zebranych na nim &sacute;rodk&oacute;w, nawet, je&zdot;eli Wydawca spe&lstrok;nia wszystkie warunki wyp&lstrok;aty &sacute;rodk&oacute;w wymienione w Art. 11 ust. 5 Regulaminu. W takim te&zdot; przypadku postanowienia Art. 11 ust 6 nie maj&aogon; zastosowania.
            li
              | Postanowienia ust. 3, 4, 5 i 6 niniejszego Artyku&lstrok;u nie uchybiaj&aogon; mo&zdot;liwo&sacute;ci dochodzenia przez AdTaily od Wydawcy odszkodowania na zasadach og&oacute;lnych.
          h4 Art. 15. SZCZEG&Oacute;LNE OBOWI&Aogon;ZKI WYDAWCY W ZAKRESIE POLITYKI PRYWATNO&Sacute;CI
          ol
            li
              | Wydawca zobowi&aogon;zuje si&eogon; do dope&lstrok;niania obowi&aogon;zk&oacute;w wynikaj&aogon;cych z ustawy Prawo telekomunikacyjne, w tym w szczeg&oacute;lno&sacute;ci z art. 173 ust. 1 oraz ust. 2 tej ustawy, za&sacute; w Serwisie Wydawcy wyra&zacute;nie informuje ka&zdot;dego u&zdot;ytkownika m.in. o stosowaniu plik&oacute;w cookies przez AdTaily oraz wsp&oacute;&lstrok;pracuj&aogon;cych z ni&aogon; Klient&oacute;w w zwi&aogon;zku z zamieszczaniem reklam oraz o mo&zdot;liwo&sacute;ci zmian ustawie&nacute; przegl&aogon;darek internetowych w zakresie plik&oacute;w cookies. Pe&lstrok;n&aogon; odpowiedzialno&sacute;&cacute; za realizacj&eogon; obowi&aogon;zk&oacute;w wynikaj&aogon;cych z przywo&lstrok;anych przepis&oacute;w ustawy oraz niniejszego ust&eogon;pu ponosi Wydawca.
            li
              | Niewype&lstrok;nienie zobowi&aogon;za&nacute; okre&sacute;lonych w ust. 1 powy&zdot;ej lub zaprzestanie ich wykonywania, zwalnia AdTaily od realizacji zobowi&aogon;za&nacute; okre&sacute;lonych w Regulaminie w zakresie zamieszczania reklam w Serwisie Wydawcy.
          h4 Art.16. MODERACJA
          ol
            li
              | Moderacja jest us&lstrok;ug&aogon; &sacute;wiadczon&aogon;, z kt&oacute;rej mo&zdot;e skorzysta&cacute; Wydawca korzystaj&aogon;cy z us&lstrok;ug AdTaily.
            li
              | Wydawcy przys&lstrok;uguje prawo premoderacji Reklam rozliczanych w Us&lstrok;udze &bdquo;Dni&oacute;wki&rdquo;, wed&lstrok;ug zasad:
              ol
                li
                  | Je&sacute;li Klient wybra&lstrok; serwis Wydawcy, na kt&oacute;rym w&lstrok;&aogon;czona jest premoderacja, Reklama na tym serwisie publikowana jest pod warunkiem, &zdot;e zostanie ona zaakceptowana przez Wydawc&eogon; lub moderatora AdTaily;
                li
                  | Wydawcy maj&aogon; 72h na zaakceptowanie Reklam, a po tym czasie zostaje ona uznana za niezaakceptowan&aogon;. W przypadku braku reakcji Wydawcy w ci&aogon;gu 24h, AdTaily ma prawo zadecydowa&cacute; za Wydawc&eogon;? o tym czy dana reklama zostanie zaakceptowana.
            li
              | Wydawcy przys&lstrok;uguje prawo postmoderacji Reklam w Us&lstrok;udze &bdquo;Klikni&eogon;cia&rdquo;, poprzez mo&zdot;liwo&sacute;&cacute; zablokowania publikacji w Serwisie Wydawcy Reklam konkretnego Klienta.
            li
              | Zwrot koszt&oacute;w zwi&aogon;zanych z niezaakceptowanymi reklamami refundowany jest Reklamodawcy w momencie odrzucenia reklamy przez Wydawc&eogon; i przesy&lstrok;any na konto PayPal, konto bankowe lub rachunek karty kredytowej (odpowiedni do tego w jaki spos&oacute;b Klient ui&sacute;ci&lstrok; op&lstrok;at&eogon; za Reklam&eogon;).
          h4
            strong Art. 17  ZASADY ODST&Eogon;POWANIA OD UMOWY
          ol
            li
              | Klientowi b&aogon;d&zacute; Wydawcy b&eogon;d&aogon;cemu konsumentem przys&lstrok;uguje prawo odst&aogon;pienia od umowy, kt&oacute;re mo&zdot;e realizowa&cacute; w terminie 14 dnia od dnia jej zawarcia. W tym czasie dana us&lstrok;uga nie b&eogon;dzie realizowana, chyba &zdot;e Klient b&aogon;d&zacute; Wydawca wyrazi na to zgod&eogon;.
            li
              | Przez dzie&nacute; zawarcia umowy, o kt&oacute;rym mowa w ust. 1 powy&zdot;ej  uznaje si&eogon; spe&lstrok;nienie warunk&oacute;w wskazanych:
              ul
                li w odniesieniu do Us&lstrok;ugi &bdquo;Dni&oacute;wka&rdquo; -  w art. 3 niniejszego Regulaminu ,
                li w odniesieniu do Us&lstrok;ugi &bdquo;Klikni&eogon;cia&rdquo; -  w art.4 niniejszego Regulaminu,
                li w odniesieniu do Us&lstrok;ugi &bdquo;Odroczona publikacja reklam&rdquo; -  w art.5 Regulaminu.
            li
              | U&zdot;ytkownikowi wskazanemu w ust. 1 powy&zdot;ej przys&lstrok;uguje prawo odst&aogon;pienia od Umowy bez podania przyczyny poprzez z&lstrok;o&zdot;enia stosownego o&sacute;wiadczenie na pi&sacute;mie. Do zachowania terminu wystarczy wys&lstrok;anie o&sacute;wiadczenia przed up&lstrok;ywem terminu wskazanego w ust. 1 powy&zdot;ej. U&zdot;ytkownik mo&zdot;e skorzysta&cacute; z formularza odst&aogon;pienia dost&eogon;pnego tutaj http://blog.adtaily.pl/lib/2014/12/formularz_odstapienia_od_umowy.pdf. Formularz udost&eogon;pniany jest na stronie internetowej Serwisu Adtaily.pl pod adresem http://blog.adtaily.pl/lib/2014/12/formularz_odstapienia_od_umowy.pdf.
            li
              | U&zdot;ytkownik powinien przes&lstrok;a&cacute; o&sacute;wiadczenie o odst&aogon;pieniu na adres Adtaily, tj.: AdTaily&rdquo; Sp&oacute;&lstrok;ka z ograniczon&aogon; odpowiedzialno&sacute;ci&aogon;, ul. Starowi&sacute;lna 55/7; Krak&oacute;w lub na adres e-mailowy: kontakt@adtaily.pl.Po wys&lstrok;aniu przez U&zdot;ytkownika o&sacute;wiadczenia o odst&aogon;pieniu od umowy, Adtaily prze&sacute;le U&zdot;ytkownikowi na adres e-mail wskazany podczas rejestracji, potwierdzenie otrzymania o&sacute;wiadczenia o odst&aogon;pieniu od Umowy.
            li
              | U&zdot;ytkownik mo&zdot;e wyrazi&cacute; zgod&eogon; na wykonanie Us&lstrok;ugi pzed up&lstrok;ywem 14 dni na odst&aogon;pienie od Umowy. W takim przypadku U&zdot;ytkownik zachowuje prawo do odst&aogon;pienia od umowy jednak&zdot;e b&eogon;dzie musia&lstrok; ponie&sacute;&cacute; koszty spe&lstrok;nionego &sacute;wiadczenia proporcjonalnie do jego zakresu.
          h4 Art.18. POSTANOWIENIA KO&Nacute;COWE
          ol
            li Niniejszy Regulamin wchodzi w &zdot;ycie z dniem 25 grudnia 2014.
            li
              | Niniejszy Regulamin obowi&aogon;zuje w stosunku do um&oacute;w zawartych pocz&aogon;wszy od dnia 25 grudnia 2014 r. Do um&oacute;w zawartych przed dat&aogon; wskazan&aogon; w zdaniu poprzedzaj&aogon;cym zastosowanie znajduj&aogon; przepisy dotychczasowego Regulaminu, kt&oacute;ry jest w dalszym ci&aogon;gu dost&eogon;pny pod adresem http://www.adtaily.pl/regulamin/
            li
              | AdTaily zastrzega sobie prawo wprowadzania zmian w niniejszym Regulaminie. Aktualna wersja Regulaminu b&eogon;dzie ka&zdot;dorazowo publikowana w serwisie Adtaily.
            li
              | W przypadku odmowy akceptacji nowych warunk&oacute;w Regulaminu przez Wydawc&eogon; b&aogon;d&zacute; Klienta w trakcie trwania umowy zawartej przed dat&aogon; zmiany Regulaminu, umowa b&eogon;dzie kontynuowana do jej zako&nacute;czenia na dotychczasowych zasadach.
            li
              | O&sacute;wiadczenie o braku akceptacji nowych warunk&oacute;w Regulaminu dla swej skuteczno&sacute;ci powinno by&cacute; z&lstrok;o&zdot;one poczt&aogon; elektroniczn&aogon; na adres kontakt@adtaily.pl.
