extends ../layout

block content
  .container.container-fix.container-shadow

    .row
      .col-sm-12.align-center
        h1.mt0 Thank You!
        h2 Your order has been placed.

        p Below is your link to ordered campaign report.

        h4
          a(href='')
            u http://shopbyblog.com/ads/campaign?cid=123

        p.notimp If you have a questions, please contact us at info@shopbyblog.com.
//-
  include faq.jade
