extends ../layout

block content
  .container.container-fix.container-shadow
    .page-header.m0
      h3.m0 ADVERTISE ON SHOPBYBLOG

    .row.mt20
      .col-sm-12.align-center
        p.align-center Please select preffered type of ad format:
        .btn-group-vertical(style='width:300px')
          a.btn.btn-default.btn-lg(href='/ads/create?pid=#{product_id}&variant=1') Click to Website
          //- a.btn.btn-default.btn-lg(href='/ads/create?pid=xxx&variant=discount') Discount Code

  include faq.jade
