.img-product {
  border: 1px solid #fff;
}
.row-3 {
  margin-left:0px;
  width:100%;
}
.col-xs-3 {
  padding-right:0px;
  padding-left:0px;
}

.row-4 {
  margin-left:0px;
  width:100%;
}
.col-xs-4 {
  padding-right:0px;
  padding-left:0px;
}

.row-6 {
  margin-left:0px;
  width:100%;
}
.col-xs-6 {
  padding-right:0px;
  padding-left:0px;
}

.btnMore {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}